body {
  margin: 0;
  padding: 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.wrap {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}
img.card-img-top {
  min-height: 170px;
  width: 100%;
  overflow: hidden;
  background-color: #d9d9d9;
}
p.card-img-top {
  min-height: 207px;
  width: 100%;
  overflow: hidden;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #9e9e9e;
}
.recipe-detail-cover {
  min-height: 250px;
  width: 100%;
  overflow: hidden;
  background-color: #d9d9d9;
}
ul.directions {
  list-style: none;
  padding-left: 20px;
  counter-reset: my-awesome-counter;
}
ul.directions li {
  counter-increment: my-awesome-counter;
}
ul.directions li:before {
  content: counter(my-awesome-counter) ". ";
  font-weight: bold;
}
.special {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px 20px;
}
.special p {
  margin: 0;
  padding: 0;
}
.special p a {
  color: green;
  text-decoration: underline;
}